.contactIcons {
    margin-top: 75px;
    margin-left: 222px;
}

.iconRow {
    /* display: inline-block; */
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

img {
    max-height: 128px; max-width: 128px; width: 100%; height: 100%
}