.portfolioImage {
    max-height: 256px;
    margin-bottom: -90px
}

.bannerDiv {
    height: 75px; 
    width: 286px; 
    background-color: #1E8DE8
}

.wrapper video {
    position: relative;
    max-height: 256px;
}
.wrapper div {
    position: absolute;
    top: 164px;
    right: 47px
}

.githubLink {
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px
}