.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.backgroundDiv {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+76 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+86,57a7e5+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 86%, rgba(87,167,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 86%,rgba(87,167,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 86%,rgba(87,167,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#57a7e5',GradientType=0 ); /* IE6-9 */
position: absolute; 
top: 0;
bottom: 0;
left: 0;
right: 0
}

h1, h2, h3, h4, h5, h6, p {
  /* color: #F2F2F2 */
}

/* hr {
  border-color: #D3D3D3;
  background-color: #D3D3D3;
  color: #D3D3D3
}  */


/*
Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+21,eaeaea+94
background: rgb(255,255,255);  Old browsers 
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 21%, rgba(234,234,234,1) 94%); FF3.6-15
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 21%,rgba(234,234,234,1) 94%); Chrome10-25,Safari5.1-6
background: linear-gradient(to bottom,  rgba(255,255,255,1) 21%,rgba(234,234,234,1) 94%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */